*{
    box-sizing: border-box;
}
body{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 130px;
}

.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10%;
    border: none;
    border-radius: 10px;
    position: relative;
}

.buttons-group{
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
    margin: 15px;
    padding: 5px;
}

.YES{
    color: white;
    background-color: rgb(255, 0, 0);
    width: 80px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 250px;
}
.YES:hover{
    background-color: rgba(247, 6, 6, 0.978);
}

.NON{
    width: 80px;
    height: 50px;
    border: solid 0.5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 670px;
    transition: 0.2s;
}

#image{
    display: none;
    width: 300px;
}
